{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
        
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{MEDIA_URL}}{{product.image}}" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{{ product.price }}</h4>
                        <h4>{{ product.name }}</h4>
                        <h6>{{ product.brand }}</h6>
                        <p>{{ product.stock }} in stock</p>
                        <p>{{ product.description }}</p>
                    </div>    
                </div>
            </div>    
        
        </div>
    </div>    

{% endblock content %}